@model IEnumerable<CarViewModel>

@if (Model != null)
{
    <div class="site-section bg-light">
        <div class="site-section bg-light">
            <div class="container">
                <form asp-action="Filters" id="form1">
                    <div class="row">
                        <div class="col-lg-7">
                            <select name="OrderBy" class="form-control">
                                <option value="">Order By:</option>
                                <option value="year_asc">Year ascending</option>
                                <option value="year_desc">Year descending</option>
                                <option value="price_asc">Price ascending</option>
                                <option value="price_desc">Price descending</option>
                            </select>
                            <br />
                        </div>
                        <br />
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <div class="form-group">
                                <legend class="mt-4 h5">Brand</legend>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Brand" value="BMW">
                                    <label class="form-check-label" for="flexCheckDefault">BMW</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Brand" value="Audi">
                                    <label class="form-check-label" for="flexCheckChecked">Audi</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Brand" value="Mercedes-Benz">
                                    <label class="form-check-label" for="flexCheckChecked">Mercedes-Benz</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Brand" value="Volkswagen">
                                    <label class="form-check-label" for="flexCheckChecked">Volkswagen</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <legend class="mt-4 h5">VehicleType</legend>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="VehicleType" value="Sedan">
                                    <label class="form-check-label" for="flexCheckDefault">Sedan</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="VehicleType" value="Coupe">
                                    <label class="form-check-label" for="flexCheckChecked">Coupe</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="VehicleType" value="Crossover">
                                    <label class="form-check-label" for="flexCheckChecked">Crossover</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="VehicleType" value="Universal">
                                    <label class="form-check-label" for="flexCheckChecked">Universal</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <legend class="mt-4 h5">Transmission</legend>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Transmission" value="Automatic">
                                    <label class="form-check-label" for="flexCheckDefault">Automatic</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Transmission" value="Manual">
                                    <label class="form-check-label" for="flexCheckChecked">Manual</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <legend class="mt-4 h5">Drive</legend>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Drive" value="Rear-Wheel Drive (RWD)">
                                    <label class="form-check-label" for="flexCheckDefault">Rear-Wheel Drive (RWD)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Drive" value="Front-Wheel Drive (FWD)">
                                    <label class="form-check-label" for="flexCheckChecked">Front-Wheel Drive (FWD)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Drive" value="Four-wheel Drive (4WD)">
                                    <label class="form-check-label" for="flexCheckDefault">Four-wheel Drive (4WD)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="Drive" value="All-Wheel Drive (AWD)">
                                    <label class="form-check-label" for="flexCheckChecked">All-Wheel Drive (AWD)</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <legend class="mt-4 h5">Fuel</legend>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="FuelType" value="Diesel">
                                    <label class="form-check-label" for="flexCheckDefault">Diesel</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="FuelType" value="Petrol">
                                    <label class="form-check-label" for="flexCheckChecked">Petrol</label>
                                </div>
                            </div>
                            <br />
                            <div>
                                <button id="submitButton" type="submit" class="btn btn-success">Filter</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                @foreach (var car in Model)
                                {
                                    <div class="col-md-6 col-lg-4 mb-4">
                                        <div class="listing d-block  align-items-stretch">
                                            <div class="listing-img h-100 mr-4">
                                                @if (car.Image != null && car.Image.Length > 0)
                                                {
                                                    var imageBase64 = Convert.ToBase64String(car.Image);
                                                    var imageSrc = $"data:image;base64,{imageBase64}";
                                                    <img src="@imageSrc" class="img-fluid" alt="Image" />
                                                }
                                            </div>
                                            <div class="listing-contents h-100">
                                                <div class="row">
                                                    <div class="col">
                                                        <h3>@car.CarName</h3>
                                                    </div>
                                                    <div class="col">
                                                        <strong style="color: #0779e4">$@car.PricePerDay</strong><span class="mx-1">/</span>day
                                                    </div>
                                                </div>
                                                <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                                                    <div class="listing-feature pr-4">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <strong>Brand: </strong><a>@car.Brand.BrandName</a>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <strong>Year: </strong><a>@car.Year</a>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <strong>Transsmision: </strong><a>@car.Transmission.TransmissionName</a>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <strong>Body Type: </strong><a>@car.VehicleType.TypeName</a>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <strong>Seats: </strong><a>@car.VehicleType.Seats</a>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <strong>Drive: </strong><a>@car.Drive.DriveName</a>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <strong>Fuel: </strong><a>@car.FuelType.FuelName</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <p><a asp-action="Booking" asp-route-id="@car.Id" class="btn btn-primary btn-sm">Rent Now</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

}
