@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<UserViewModel>

<div class="site-section bg-light">
    <div class="container">
        <row class="row">
            <div class="col-md-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Roles</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Role)
                                </td>
                                <td>
                                    <a asp-action="Add" asp-route-id="@item.Id">Add</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
                <a asp-action="Create" class="btn btn-success">Create</a>
            </div>
        </row>
    </div>
</div>